html
{
    font-size: 1.4em;
    margin:0;
    padding: 0;
}
body
{
    margin:0;
    padding: 0;
}
.title
{
    font-size: 0.8em;
}
.main-container, .header-container
{
    margin:0 15% ;
}

.hamburger-container
{
   display: none;
    margin:auto;
    
}
.hamburger-container button
{
    margin: 5px;
    background: 0;
    border:0;
}
.hamburger-container button:hover
{
   cursor:pointer;
}

.site-menu, ul, a:visited
{
    font-family: sans-serif;
     color: black;
    background-color: aqua;
    display: none;
}

.top-nav, ul
{
    margin:0;
    padding: 0;
    text-transform: uppercase;
    font-size: 0.8em;
}
nav
{
    margin-left: auto;
}
.background
{
    width:100%;
    background-color: aqua;
    box-shadow: 0 0 10px #777777;
}
.unhide
{
    visibility: visible;
}
.hide
{
    display: none;
}

.icon-img img
{
    width: 6em;
    padding-right: 2em;
}
.projects-container figure
{
    box-shadow: 0 0 10px #777777;
}
.img-top img
{
    display: block;   
    width: 900px;
    margin: 0 auto 0;

}
.img-top
{
    margin-left: auto;
}
.person img
{
    width: 170px;
    height: 160px;
    margin: 0 0.4em 0 0;
    
}
.person
{
    display: flex;
    flex-flow: row wrap;
   margin: 1em 0;

}
.person p
{
    width: 80%;
    
}
figure
{
    padding: 0;
    margin:0;
}
header, .nav-list, .branding
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    align-items: center;
    
}
header
{
    justify-content: space-between;
    align-items: center;
}
ul
{
    list-style-type: none;
    text-decoration: none;
    font-size: 1.4em;
}
li
{
    
    padding: 0.2em;
}
header .top-nav a, a
{
    text-decoration: none;
}
a:hover
{
    text-decoration: underline;
}

.projects-container
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: aqua;
}
.projects-container p, .projects-container img
{
    width: 300px;
}
.projects-container h3
{
    text-align: center;
}

.contact-icons img
{
width: 50px;    
}
.contact-icons
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.box-form
{
    display: flex;
     margin: auto;
}

fieldset
{
    width: 60%;
    border:1px solid #BEBEC6;
    border-radius: 10px;
}
article
{
    margin-bottom: 30px;
}

input[type = "submit"]
{
  margin: 15px auto;   
    width: 100px;
    height: 30px;
}

input[type = "email"]
{
    margin: 5px auto;
    width: 250px;
    height: 25px;
}

.form-container p
{
    text-align: center;
}
@media screen and (max-width: 760px) {
  .hamburger-container
{
   visibility: visible;
    margin:auto;
    display: block;
}
   .top-nav
    {
        
        display: none;
    }
    .icon-img
    {
        margin: auto;
        padding:0;
    }
    .icon-img img
    {
        width: 6em;
        padding-right: 0em;
    }
    
}

@media screen and (max-width: 501px)
{
    .title
    {
        display: none;
    }
}
    
    