html
{
    font-size: 1.4em;
    margin:0;
    padding: 0;
}
body
{
    margin:0;
    padding: 0;
}
.title
{
    font-size: 0.8em;
}
.main-container, .header-container
{
    margin:0 15% ;
}

.hamburger-container
{
   display: none;
    margin:auto;
    
}
.hamburger-container button
{
    margin: 5px;
    background: 0;
    border:0;
}
.hamburger-container button:hover
{
   cursor:pointer;
}
.site-menu ul
{
    padding: 0;
    list-style: none;
    margin: 0 10px;
    display:  flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
.site-menu
{
    display:flex;
    box-sizing: border-box;
    position: absolute;
    top: 60px;
    right: 0;
    width: 300px;
    padding-bottom: 10px;
    background-color: aqua;
    visibility: hidden;
}
.site-menu a
{
    display:  flex;
    padding: 10px;
    box-sizing: border-box;
    align-items: center;
    height: 100%;
    width: 100%;
}
.site-menu li
{
    background: #ffffff;
    margin-top: 20px;
    color: #696e9e;
    border-radius:  5px;
    flex-basis: 100%;
    display: flex;
    height: 30px;
}
.top-nav, ul
{
    margin:0;
    padding: 0;
    text-transform: uppercase;
    font-size: 0.8em;
}
nav
{
    margin-left: auto;
}
.background
{
    width:100%;
    background-color: aqua;
    box-shadow: 0 0 10px #777777;
}
.unhide
{
    visibility: visible;
}
.hide
{
    visibility: hidden;
}

.icon-img img
{
    width: 6em;
    padding-right: 2em;
}
.projects-container figure
{
    box-shadow: 0 0 10px #777777;
}
.img-top img
{
    display: block;   
    width: 900px;
    margin: 0 auto 0;

}
.img-top
{
    margin-left: auto;
}
.person img
{
    width: 170px;
    height: 160px;
    margin: 0 0.4em 0 0;
    
}
.person
{
    display: flex;
    flex-flow: row wrap;
   margin: 1em 0;

}
.person p
{
    width: 80%;
    
}
figure
{
    padding: 0;
    margin:0;
}
header, ul, .branding
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    align-items: center;
    
}
header
{
    justify-content: space-between;
    align-items: center;
}
ul
{
    list-style-type: none;
    text-decoration: none;
    font-size: 1.4em;
}
li
{
    
    padding: 0.2em;
}
header .top-nav a
{
    text-decoration: none;
}
a:hover
{
    text-decoration: underline;
}

.projects-container
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: aqua;
}
.projects-container p, .projects-container img
{
    width: 300px;
}
.projects-container h3
{
    text-align: center;
}


@media screen and (max-width: 760px) {
  .hamburger-container
{
   visibility: visible;
    margin:auto;
    display: block;
}
   .top-nav
    {
        
        display: none;
    }
    .icon-img
    {
        margin: auto;
        padding:0;
    }
    .icon-img img
    {
        width: 6em;
        padding-right: 0em;
    }
    
}

@media screen and (max-width: 501px)
{
    .title
    {
        display: none;
    }
}
    
    