html
{
    font-size: 1.4em;
    margin:0;
    padding: 0;
}
body
{
    margin:0;
    padding: 0;
}
.title
{
    font-size: 0.8em;
}
.main-container, .header-container
{
    margin:0 15% ;
    
    
}

nav, ul
{
    margin:0;
    padding: 0;
    text-transform: uppercase;
    font-size: 0.8em;
}
nav
{
    margin-left: auto;
}
.background
{
    width:100%;
    background-color: aqua;
    box-shadow: 0 0 10px #777777;
}


.icon-img img
{
    width: 6em;
    padding-right: 2em;
}
.projects-container figure
{
    box-shadow: 0 0 10px #777777;
}
.img-top img
{
    display: block;   
    width: 900px;
    margin: 0 auto 0;

}
.img-top
{
    margin-left: auto;
}
.person img
{
    width: 170px;
    height: 160px;
    margin: 0 0.4em 0 0;
    
}
.person
{
    display: flex;
    flex-flow: row wrap;
   margin: 1em 0;

}
.person p
{
    width: 80%;
    
}
figure
{
    padding: 0;
    margin:0;
}
header, ul, .branding
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    align-items: center;
    
}
header
{
    justify-content: space-between;
    align-items: center;
}
ul
{
    list-style-type: none;
    text-decoration: none;
    font-size: 1.4em;
}
li
{
    
    padding: 0.2em;
}
header nav a
{
    text-decoration: none;
}

.projects-container
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: aqua;
}
.projects-container p, .projects-container img
{
    width: 300px;
}
.projects-container h3
{
    text-align: center;
}
